<launch>
	<arg name="model" />
	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find pan_tilt_robot_pkg)/urdf/pan_tilt.xacro" /> 


		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"><param name="use_gui" value="true"/></node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find pan_tilt_robot_pkg)/urdf.rviz" required="true" />
</launch>